<!DOCTYPE html>
<% include partials/style.ejs %>
<html>
    <head>
        <title> Q&A for PCC Swarmies </title>
    </head>
    <body>
        <% var current="QA" %>
        <h1>PCC Swarmies <small> bulletin board </small></h1>
        <% include partials/navbar2.ejs %>
        <div class="addPost">
            <form id="addPost" name="addPost">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="formtitle">Subject or question:</label>
                        </div>
                        <div class="col-md-8">
                                <input type="text" class="form-control" id="formtitle" name="formtitle" placeholder="add title" maxlength="90">
                        </div>
                        <div class="col-md-1 qachar" id="titlechars"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="textbody">Details:</label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="3" id="formtextbody" name="formtextbody" placeholder="subject" maxlength="700"></textarea>
                        </div>
                        <div class="col-md-1 qachar" id="bodychars"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="formlinks">links for resources:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="url" class="form-control" id="formlinks" name="formlinks" placeholder="add links">
                        </div>
                       <div class="col-md-1 qachar" id="linkchars"></div>
                   </div>
                </div>
                <div class="registerButtons">
                    <button type="submit" class="btn btn-info">submit</button>
                    <button type="cancel" class="btn btn-danger" onclick="this.form.reset()">cancel</button>
                </div>
            </form>
        </div>
        <div class="limform">
            <form id="changelimit" class="form-inline">
                <div class="form-group">
                    <label for "liminput">Currently showing posts: <%= offset*1. %> through <% var temp = (offset*1.+posts.length*1.) %> <%= temp %> </label>
                    <input type="number" id="liminput" name="liminput" value="<%=limit%>" min=1 max=50 size="2" style="width:10%;">
                </div>
                <button type="submit" class="btn btn-primary">Change # results</button>
            </form>
        </div>
        <% var newoffset = (offset > limit)? 1.*(offset-limit) : 0; %>
        <% if (offset == 0) { newoffset = undefined; } %>
        <% var nextoffset = (posts.length== limit)? 1.*(offset*1.+limit*1.) : undefined; %>
        <% if (newoffset != undefined) { %>
        <a id="back" href="/post?off=<%= newoffset %>&lim=<%=limit%>">back</a>
        <% } %>
        <% if (nextoffset != undefined) { %>
        <a id="back" href="/post?off=<%= nextoffset %>&lim=<%=limit%>">next</a>
        <% } %>
        <div id="thePosts" class="childPosts">
            <% posts.forEach( function(post) { %>
            <div class="post" onclick="location.href='/post?id=<%= post.id %>&lim=<%=limit%>';">
                <div class="container">
                     <div class="row">
                         <div class="col-md-8">
                             <p class="text-warning"><%= post.title %></p>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-md-8">
                             <p class="text-primary"><%= post.textbody %></p>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-md-8"><a href="<%= post.url %>"><%= post.url %></a></div>
                     </div>
                     <div class="row">
                        <div class="col-md-3" style="text-align:right"><%= post.author %> posts... <%= post.numresponses %> response(s)</div>
                     </div>
                </div>
            </div>
            <% }); %>
        </div>
        <% include partials/scripts.ejs %>
        <script>


        $(document).ready( function() {
            $('#addPost').submit( function(event) {
                event.preventDefault();
                var tBody = $('#formtextbody').val();
                var tTitle = $('#formtitle').val();
                var tLinks = $('#formlinks').val();
                /* Act on the event */
                /* Other pattern checking can happen here XXX */
                if (tBody != "" && tTitle != "") {
                    // only create ajax request if complete
                    sendRequest(tBody, tTitle, tLinks);
                }
            });


            function sendRequest(tBody, tTitle, tLinks) {
                $.ajax({
                    url: '/post',
                    type: 'POST',
                    data:{
                        id: getParameterByName("id"),
                        title: tTitle,
                        textbody: tBody,
                        links: tLinks
                    }
                }).done( function(data) {
                    $('#thePosts').html(data);
                    return true;
                });
            }

            var charsLeftBody=0;
            var charsLeftTitle=0;
            var charsLeftLinks=0;
            var calcCharsLeft = function() {
                charsLeftBody = 700  - $('#formtextbody').val().length;
                charsLeftTitle = 90  - $('#formtitle').val().length;
                charsLeftLinks = 300 - $('#formlinks').val().length;
                $('#titlechars').text(charsLeftTitle+"/90");
                $('#linkchars').text(charsLeftLinks+"/300");
                $('#bodychars').text(charsLeftBody+"/700");
            };

            $('#formtextbody').keyup(function() {
                calcCharsLeft();
            });

            $('#formtitle').keyup(function() {
                calcCharsLeft();
            });

            $('#formlinks').keyup(function() {
                calcCharsLeft();
            });


            function getParameterByName(name) {
               name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
        });

        </script>
    </body>
</html>
