<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="text-warning"><%= post.title %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="text-primary"><%= post.textbody %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"><%= post.url %></div>
        </div>
        <div class="row">
            <div class="col-md-6"><%= post.author %></div>
            <div class="col-md-2"><%= post.numrepsonses %></div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="text-warning"><%= addPost.title %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="text-primary"><%= addPost.textbody %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"><%= addPost.url %></div>
        </div>
        <div class="row">
            <div class="col-md-6"><%= addPost.author %></div>
            <div class="col-md-2"><%= addPost.numrepsonses %></div>
        </div>
    </div>
</div>
