<!DOCTYPE html>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="text-warning"><%= post.title %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="text-primary"><%= post.textbody %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"><%= post.url %></div>
        </div>
        <div class="row">
            <div class="col-md-6">author <%= post.author %> has <%= post.numrepsonses %> responses</div>
        </div>
        <% if (user.isAdmin) { %>
        <div class="row">
             <a href='/delete?id=<%=post.id%>'>delete this post (warning will delete all subposts)</a>
        </div>
        <% } %>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="text-warning"><%= addPost.title %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="text-primary"><%= addPost.textbody %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"><%= addPost.url %></div>
        </div>
        <div class="row">
            <div class="col-md-6"><%= addPost.author %></div>
            <div class="col-md-2"><%= addPost.numrepsonses %></div>
        </div>
        <% if (user.isAdmin) { %>
        <div class="row">
             <a href='/delete?id=<%=addPost.id%>'>delete this post (warning will delete all subposts)</a>
        </div>
        <% } %>
</div>
</div>
